{% extends 'base_generic.html' %}
{% block content %}

<div  id="login" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true" >
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="border: 1px solid; margin-top:100px;">
            <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h6 class="modal-title text-center mb-3" id="loginTitle">Login For Awesome Listing Experience</h6>
            <div class="modal-body">
                {% if form.errors %}
                            <p style="color:red;text-align: center;">Your email and password didn't match. Please try again.</p>
                          {% endif %}
                          
                          {% if next %}
                            {% if user.is_authenticated %}
                              <p style="color:red;text-align: center;">Your account doesn't have access to this page. To proceed,
                              please login with an account that has access.</p>
                            {% else %}
                              <p style="color:red;text-align: center;">Please login to see this page.</p>
                            {% endif %}
                          {% endif %}

                <form action="{% url 'login' %}" class="mx-4 pb-5" id="login-form" method="post">
                    {% csrf_token %}
                    <div class="social-login">
                        <a href="javascript:void(0);" class="w-100 btn btn-social btn-facebook btn-default-air">
                            <span class="btn-content">
                                <i class="ion-logo-facebook"></i>
                                <span class="pl-2">Login With Facebook</span>
                            </span>
                        </a>
                        <a href="javascript:void(0);" class="w-100 mt-3 btn btn-social btn-google btn-default-air">
                            <span class="btn-content">
                                <i class="ion-logo-google"></i>
                                <span class="pl-2">Login With Google</span>
                            </span>
                        </a>
                    </div>
                    <div class="form-group">
                        <!-- <input type="email" name="username" id= "username" class="form-control" placeholder="Enter email"> -->
                        <input type="email" id="username" name="username" class="form-control" placeholder="email">
                        
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
                    </div>
                    <p id="login-error"></p>
                    <input type="submit" class="btn btn-block btn-bold btn-air btn-info" value="Login">
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
