{% extends 'layouts/base_generic.html' %}
{% load i18n  %}
{% load static %}

{% block content %}

    <main id="pageWrapper">

        <div class="banner bg-home"></div>
        <div class="main-container">

            <h1>History</h1>
            <h5>Where you can see your and following's activity</h5>
            <hr>
            <br> </br>
            <br> </br>

         <div class="row">
                  <div class="col-sm-9 col-md-6 ">
                  <h5 class="card-title mb-0">Your Follower: </h5>
                  <hr>
                      <br></br>
                  {% for activity in activity_list reversed %}
                  {% for activity_user in activity.user.list_follower %}
                      <div class="d-flex flex-wrap align-items-end">
                        <img  class="circular--landscape" src="{{ activity.user.profile.image.url }}" style="width: 50px; height: 50px">
                        <div class="col-xl-3 col-lg-3 col-sm-3"><h4><a href="{{ activity.user.profile.get_absolute_url }}" >{{ activity.user.username}}</a></h4>
                       </div>
                        <div class="col-xl-6 "><h5>{{ activity.activity }}</h5></div>
                        <div class="col-xl-5 "><p>{{ activity.datetime }}</p></div>
                     </div>
                    <hr>
                   {% endfor %}
                   {% endfor %}
                  </div>
                    <div class="col-sm-9 col-md-6 ">
                    <h5 class="card-title mb-0">You: </h5>
                    <hr>
                      <br></br>
                   {% for activity in activity_list reversed %}
                   {% if activity.user == request.user %}
                        <div class="d-flex flex-wrap align-items-end">
                        <img  class="circular--landscape" src="{{ activity.user.profile.image.url }}" style="width: 50px; height: 50px">
                        <div class="col-xl-3 col-lg-3 col-sm-3"><h4><a href="{{ activity.user.profile.get_absolute_url }}" > you </a></h4>
                       </div>
                        <div class="col-xl-6 "><h5>{{ activity.activity }}</h5></div>
                        <div class="col-xl-5 "><p>{{ activity.datetime }}</p></div>
                     </div>
                    <hr>
                    {% endif %}
                   {% endfor %}
                    </div>
         </div>
        </div>
        {% include 'includes/footer.html' %}

    </main>

{% endblock %}
