{% extends '../layouts/base_generic.html' %}

{% load static %}

{% block content %}

    <main id="pageWrapper">
        <div class="banner bg-song"></div>
        <div class="main-container">
                <div class="col-6 ml-2">
                    <h1>Hot Music</h1>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="row section">
                    {% for song in songs %}
                        {% if song.hot is True %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 pb-4">
                            <div class="custom-card">
                                <div class="custom-card--img">
                                    <div class="custom-card--info">
                                        <div class="dropdown dropdown-icon">
                                            <a href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="ion-md-more"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="javascript:void(0);" class="dropdown-link favorite">
                                                        <i class="la la-heart-o"></i>
                                                    </a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="javascript:void(0);" class="dropdown-link">
                                                        <i class="la la-plus"></i>
                                                    </a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="javascript:void(0);" class="dropdown-link">
                                                        <i class="la la-download"></i>
                                                    </a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="javascript:void(0);" class="dropdown-link">
                                                        <i class="la la-share-alt"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="{{ song.get_absolute_url }}">
                                        <img src="{{ song.thumbnail.url}}"

                                             style="width: 250px; height: 250px"
                                             class="card-img--radius-lg">
                                    </a>
                                </div>
                                <a href="{{ song.get_absolute_url }}" class="custom-card--link mt-2">
                                    <h6>{{ song.title }}</h6>
                                    <p>{{ song.artist.all|join:"," }}</p>
                                    <!-- <p>{{ song.album.all|join:"," }}</p> -->
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </main>

{% endblock %}
