{% extends '../layouts/base_generic.html' %}
{% load static %}


{% block content %}

    <main id="pageWrapper">
        <div class="banner bg-song"></div>
        <div class="main-container">
            <div class="row section text-center text-md-left">
                <div class="col-xl-3 col-lg-4 col-sm-5">
                    {% if favorite.thumbnail.url %}
                    <img src="{{ favorite.thumbnail.url }}" alt="" class="card-img--radius-lg" style="width: 280px; height: 280px">
                    {% else%}
                    <img src="{% static 'images/genre/default.jpeg' %}" alt="" class="card-img--radius-lg">
                    {% endif %}
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-7">
                    <div class="row pt-4">
                        <div class="col-xl-8 col-lg-6">
                            <h5>{{ favorite.title }}</h5>
                            <p>{{ favorite.artists.0.name }}</p>
                            <!-- song.artist.all|join:"," }} -->
                            <div class="text-warning stars">
                                 {% if favorite.average_rating %}
                                 <span class="la la-star" style="color : orange"></span>
                                {% endif%}
                                {{favorite.average_rating}}
                            </div>
                            <div>
                                {% if .lyric_status is True %}
                                {{ favorite.content }}
                                {% endif %}
                            </div>
                            <div class="mt-4">
                                <a href="javascript:void(0);"
                                   class="btn btn-pill btn-air btn-bold btn-danger"
                                   id="play-pause"
                                   data-audio='{"name": "{{ favorite.title }}", "artist": "{{ favorite.artists.0.name }}", "album": "", "url": "{{ favorite.song.url }}", "cover_art_url": "{{ favorite.thumbnail.url }}"}'>
                                    Play
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="pt-3 pt-lg-0 text-lg-right">
                                <form action="{% url 'song-detail' favorite.id %}" method='POST'>
                                {% csrf_token %}
                                <button class="btn btn-pill btn-air btn-danger btn-icon-only" id="favorite" type="submit" name ="favorite">
                                    {% if is_favorite %}
                                        <i class="la la-heart"></i>
                                    {% else %}
                                        <i class="la la-heart-o"></i>
                                    {% endif %}
                                </button>
                                </form>
                                <form action="{% url 'lyric' favorite.id%}" method='GET'>
                                {% csrf_token %}
                                <button class="btn btn-pill btn-air btn-warning btn-icon-only"  id="favorite" type="submit" name ="lyric">
                                     <i class="la la-plus"></i>
                                </button>
                                </form>
                                  <a class="btn btn-pill btn-air btn-success btn-icon-only" href="{% url 'review_create' favorite.id %}">
                                    <i class="la la-star-o" style="margin-top: 10px; color: #fff"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div id="waveform-load"></div>
                <div id="waveform"></div>
            </div>
        </div>
    <div class="section">
                <ul class="nav nav-tabs line-tabs line-tabs-primary text-uppercase mb-4" id="artistDetails" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="song-tab" data-toggle="tab" href="#song" role="tab" aria-controls="song" aria-selected="true">Review</a></li>
                    <li class="nav-item"><a class="nav-link" id="bio-tab" data-toggle="tab" href="#bio" role="tab" aria-controls="bio" aria-selected="false">Lyric</a></li>
                </ul>
                <div class="tab-content" id="artistDetailsContent">
            <div class="tab-pane fade show active" id="song" role="tabpanel" aria-labelledby="song-tab">
                        <div class="row align-items-end"><span class="col-6 font-weight-bold">{{ favorite.review_set.all.count }} Comment</span>
                            <div class="col-12">
                                <hr>
                            </div>
                        </div>
                        <div class="custom-list">
                            {% for review in favorite.review_set.all %}
                                <div class="custom-list--item">
                                    <div class="text-dark custom-card--inline">

                                            <div class="custom-card--inline-img">
                                                <img src="{{ review.user_review.profile.image.url }}" alt="" class="card-img--radius-sm" style="border-radius: 50%;">

                                            </div>
                                             <div style="margin-left:10px;">
                                                <strong >{{ review.user_review.email}}</strong>
                                                <p>{{ review.date_review }}</p>
                                            </div>
                                            <div class="custom-card--inline-desc" style="margin:25px;">

                                                    {% for rate in review.actual_rating %}
                                                        <span class="la la-star" style="color : orange"></span>
                                                    {% endfor %}


                                                    {% for rate in review.hidden_rating %}
                                                        <span class="la la-star" style="color : silver  "></span>
                                                    {% endfor %}

                                                    <br>
                                                    <p class="text-truncate mb-0">{{ review.content_review  }}</p>

                                            </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="bio" role="tabpanel" aria-labelledby="bio-tab">
                        {% for lyric in favorite.get_lyric %}
                        {% if lyric.lyric_status is True %}
                        {{ lyric.content }}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% include 'includes/footer.html' %}
    </main>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.0.2/dist/amplitude.min.js"></script>
    <script src="{% static 'js/wavesurfer.min.js' %}"></script>
    <script type="text/javascript">

        let favorite_btn = $('#btn-favorite');

        favorite_btn.on('click', function () {
            let user = $(this).data('user');

            if (user) {

                let song_id = $(this).data('song-id');
                let decision = $(this).data('decision');

                $.ajaxSetup({
                    headers: {
                        'X-CSRFToken': csrfmiddlewaretoken
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: $(this).data('url'),
                    data: {
                        song_id,
                        decision,
                    },
                    dataType: 'json',
                    success: function (res) {
                        if (res.status === true) {
                            if (decision === 'make') {
                                favorite_btn.attr('data-decision', 'remove');
                                favorite_btn.find('i.la-heart-o').removeClass('la-heart-o').addClass('la-heart');
                            } else {
                                favorite_btn.attr('data-decision', 'make');
                                favorite_btn.find('i.la-heart').removeClass('la-heart').addClass('la-heart-o');
                            }
                            toastr.options = {
                                "positionClass": "toast-bottom-right",
                            };
                            toastr.success(res.message);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                toastr.options = {
                    "positionClass": "toast-bottom-right",
                };
                toastr.warning('Please login to continue');
            }
        });

        Amplitude.init({
            "songs": [{
                name: "{{ favorite.title }}",
                artist: "Arebica Luna",
                album: "Mummy",
                url: "{{ favorite.song.url }}",
                {#cover_art_url: "{{ favorite.thumbnail.url }}"#}
            }],
            "bindings": {
                32: 'play_pause'
            },
            "callbacks": {
                'play': function () {
                    wavesurfer.play();
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'timeupdate': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'seeked': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'pause': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                    wavesurfer.pause();
                }
            }
        });

        window.onkeydown = function (e) {
            return !(e.keyCode === 32);
        };

        document.getElementById('song-played-progress').addEventListener('click', function (e) {
            let offset = this.getBoundingClientRect();
            let x = e.pageX - offset.left;

            Amplitude.setSongPlayedPercentage((parseFloat(x) / parseFloat(this.offsetWidth)) * 100);
        });

        let wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#733ce6',
            progressColor: '#bfbfbf',
            height: 150,
            scrollParent: false,
            responsive: true,
        });

        wavesurfer.on('loading', function (integer) {
            $('#waveform-load').html("Generating waves.. (" + integer + '%)');
        });

        wavesurfer.on('ready', function (percents) {
            wavesurfer.setVolume(0);
            $('#waveform-load').empty();
        });

        $("a[data-audio]").on("click", function () {
            $('#audioPlayer').css('visibility', 'visible');
            if ($(this).text().trim() === 'Play') {
                $('.amplitude-play-pause').addClass('amplitude-playing').removeClass('amplitude-paused');
                $(this).text('Pause');
            } else {
                $('.amplitude-play-pause').removeClass('amplitude-playing').addClass('amplitude-paused');
                $(this).text('Play');
            }

            if ($('.amplitude-play-pause').hasClass('amplitude-playing')) {
                Amplitude.play();
            } else {
                Amplitude.pause();
            }
        });

        wavesurfer.on('seek', function (seeks) {
        });

        wavesurfer.load('{{ favorite.song.url }}');

        $('.amplitude-play-pause').on('click', function () {
            if ($(this).hasClass('amplitude-playing')) {
                Amplitude.play();
                $('#play-pause').text('Pause');
            } else {
                Amplitude.pause();
                $('#play-pause').text('Play');
            }
        });

        let volumeIconClick = function () {

            $(document).on("click", ".volume-dropdown-menu", function (s) {
                s.stopPropagation();
            });

            let s = $('.audio-volume input[type="range"]'), t = $(".audio-volume .btn");
            s.on("change", function () {
                let s = $(this), e = parseInt(s.val(), 10);
                0 === e ? t.html('<i class="ion-md-volume-mute"></i>') : e > 0 && e < 70 ? t.html('<i class="ion-md-volume-low"></i>') : e > 70 && t.html('<i class="ion-md-volume-high"></i>')
            })
        };

        volumeIconClick();
    </script>

{% endblock %}
